In [1]:
import pandas as pd

columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name']
df = pd.read_fwf('Desktop\\auto-mpg-data.txt', header=None)
df.columns= columns

In [2]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,"""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,"""buick skylark 320"""
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,"""plymouth satellite"""
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,"""amc rebel sst"""
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,"""ford torino"""

In [3]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [4]:
df.horsepower = pd.to_numeric(df.horsepower, errors='coerce')

In [5]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [6]:
df.dropna(inplace=True)

In [7]:
x_column = [ 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin']

In [8]:
y_column= ['mpg']

In [9]:
X = df[x_column]

In [10]:
Y = df[y_column]

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=.33, random_state=42)

In [12]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, Y_train)
lr.score(X_test,Y_test)

0.8009911274898219

In [13]:
y_pred = lr.predict(X_test)
import numpy as np
from sklearn.metrics import mean_squared_error
np.sqrt( mean_squared_error(Y_test,y_pred))

3.2418403035673062

7.	TODO: Create a new set of X and y, with the original data. We are going to repeat the process, but transforming the features, to see if we can achieve better accuracy.

8.	TODO: Make transformations: Inverse Transform ‘displacement’ and ‘weight’, Power (^2) transform ‘horsepower’ and ‘model year’ and log transform ‘acceleration’. Why are we doing this, why transform the data at all?

9.	TODO: Normalise the columns in the transformed data.

10.	TODO: Split the transformed data into test and train sets.

11.	TODO: Fit a linear regression model on transformed data and calculate the RMSE and accuracy scores. Can we compare it directly to the previous results? If yes, why? If not, why?

12.	TODO: BONUS: So far we have improved the score slightly. Try different transformations and see if you can improve this score further. The best score is the winner. Is there a way to automate this? How can we be smarter about picking the best transformations for the data?

13.	TODO: Use Partial Component Analysis and select the appropriate number of features for the reduced dataset. How does it work? Why do we do this?

In [14]:
df['displacement'] =1/df['displacement']

In [15]:
df['weight'] =1/df['weight']

In [16]:
df['horsepower'] =df['horsepower']*df['horsepower']

In [17]:
df['model year'] = np.power(df['model year'],2)

In [18]:
df['acceleration'] =np.log(df['acceleration'])

In [19]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,0.003257,16900.0,0.000285,2.484907,4900,1,"""chevrolet chevelle malibu"""
1,15.0,8,0.002857,27225.0,0.000271,2.442347,4900,1,"""buick skylark 320"""
2,18.0,8,0.003145,22500.0,0.000291,2.397895,4900,1,"""plymouth satellite"""
3,16.0,8,0.003289,22500.0,0.000291,2.484907,4900,1,"""amc rebel sst"""
4,17.0,8,0.003311,19600.0,0.000290,2.351375,4900,1,"""ford torino"""

In [20]:
X1 = df[x_column]
Y1 = df[y_column]

In [21]:
X_train1,X_test1,Y_train1,Y_test1 = train_test_split(X1,Y1,test_size=.33, random_state=42)

In [22]:
lr1 = LinearRegression()
lr1.fit(X_train1, Y_train1)
lr1.score(X_test1,Y_test1)

0.8280234524110657

In [23]:
y_pred1 = lr1.predict(X_test1)
np.sqrt( mean_squared_error(Y_test1,y_pred1))

3.0136305569410298

In [30]:
from sklearn.preprocessing import StandardScaler
X2= StandardScaler().fit_transform(X1.values)
X2

array([[ 1.48394702, -1.06939161,  0.45997873, ..., -1.34227043,
        -1.58443152, -0.71664105],
       [ 1.48394702, -1.19127707,  1.513418  , ..., -1.57776352,
        -1.58443152, -0.71664105],
       [ 1.48394702, -1.10370922,  1.03133562, ..., -1.82372635,
        -1.58443152, -0.71664105],
       ...,
       [-0.86401356,  0.19460582, -0.54438505, ..., -1.52985627,
         1.67582718, -0.71664105],
       [-0.86401356,  0.47661688, -0.62753789, ...,  1.08270478,
         1.67582718, -0.71664105],
       [-0.86401356,  0.49794544, -0.57825835, ...,  1.31571826,
         1.67582718, -0.71664105]])

In [36]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
principalComponents = pca.fit_transform(X2)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['PC1', 'PC2'])
principalDf

          PC1       PC2
0    2.640911  0.876368
1    3.271135  1.199278
2    3.017718  1.267225
3    2.849545  1.039882
4    2.955099  1.328536
5    4.266207  1.761006
6    4.857156  2.280220
7    4.842020  2.390554
8    4.790219  2.040330
9    4.249528  2.213275
10   3.569648  1.632070
11   3.777860  2.173734
12   3.463198  1.561147
13   4.362663  2.275483
14  -1.272793  2.066168
15   0.813492  0.327407
16   0.800568  0.353599
17   0.543458  0.269791
18  -1.676780  2.349153
19  -2.428835  0.863828
20  -1.018712  0.940939
21  -0.874538  1.579212
22  -1.231840  1.130449
23  -0.434809  2.115026
24   0.725527  0.450349
25   3.994470  1.022537
26   3.495563  0.733966
27   3.865506  1.121509
28   3.093558  0.047509
29  -1.729596  2.198108
..        ...       ...
362 -1.502782 -1.876894
363 -1.391864 -1.745413
364 -1.505265 -1.562520
365 -1.221611 -1.357051
366 -1.035002 -1.422253
367 -0.951019 -1.849406
368 -0.776003 -1.585468
369 -2.192579 -0.353396
370 -3.076420 -0.201253
371 -3.079739 -0.076211
372 -1.635104 -0.934352
373 -1.963606 -1.306101
374 -2.063606  0.232405
375 -2.250049  0.229542
376 -2.493497 -0.235557
377 -2.820292  0.361932
378 -2.897570  0.236787
379 -2.917319  0.132416
380  0.159923 -1.697565
381  0.157240 -2.070213
382 -0.632876 -1.211515
383  0.471528 -1.444510
384 -1.358367  0.073159
385 -0.796134 -0.790422
386 -0.767620 -1.804479
387 -0.777711 -1.453778
388 -3.066809 -1.755938
389 -0.663201 -0.444718
390 -1.384650 -1.823999
391 -1.386891 -1.953560

[392 rows x 2 columns]

In [46]:
finalDf = pd.concat([principalDf, Y], axis = 1)
finalDf.dropna(inplace=True)
finalDf

          PC1       PC2   mpg
0    2.640911  0.876368  18.0
1    3.271135  1.199278  15.0
2    3.017718  1.267225  18.0
3    2.849545  1.039882  16.0
4    2.955099  1.328536  17.0
5    4.266207  1.761006  15.0
6    4.857156  2.280220  14.0
7    4.842020  2.390554  14.0
8    4.790219  2.040330  14.0
9    4.249528  2.213275  15.0
10   3.569648  1.632070  15.0
11   3.777860  2.173734  14.0
12   3.463198  1.561147  15.0
13   4.362663  2.275483  14.0
14  -1.272793  2.066168  24.0
15   0.813492  0.327407  22.0
16   0.800568  0.353599  18.0
17   0.543458  0.269791  21.0
18  -1.676780  2.349153  27.0
19  -2.428835  0.863828  26.0
20  -1.018712  0.940939  25.0
21  -0.874538  1.579212  24.0
22  -1.231840  1.130449  25.0
23  -0.434809  2.115026  26.0
24   0.725527  0.450349  21.0
25   3.994470  1.022537  10.0
26   3.495563  0.733966  10.0
27   3.865506  1.121509  11.0
28   3.093558  0.047509   9.0
29  -1.729596  2.198108  27.0
..        ...       ...   ...
361  0.361339 -1.886824  25.4
362 -1.502782 -1.876894  24.2
363 -1.391864 -1.745413  22.4
364 -1.505265 -1.562520  26.6
365 -1.221611 -1.357051  20.2
366 -1.035002 -1.422253  17.6
367 -0.951019 -1.849406  28.0
368 -0.776003 -1.585468  27.0
369 -2.192579 -0.353396  34.0
370 -3.076420 -0.201253  31.0
371 -3.079739 -0.076211  29.0
372 -1.635104 -0.934352  27.0
373 -1.963606 -1.306101  24.0
375 -2.250049  0.229542  36.0
376 -2.493497 -0.235557  37.0
377 -2.820292  0.361932  31.0
378 -2.897570  0.236787  38.0
379 -2.917319  0.132416  36.0
380  0.159923 -1.697565  36.0
381  0.157240 -2.070213  36.0
382 -0.632876 -1.211515  34.0
383  0.471528 -1.444510  38.0
384 -1.358367  0.073159  32.0
385 -0.796134 -0.790422  38.0
386 -0.767620 -1.804479  25.0
387 -0.777711 -1.453778  38.0
388 -3.066809 -1.755938  26.0
389 -0.663201 -0.444718  22.0
390 -1.384650 -1.823999  32.0
391 -1.386891 -1.953560  36.0

[386 rows x 3 columns]

In [47]:
X3 = finalDf[['PC1','PC2']]
Y3 = finalDf[['mpg']]

In [48]:
X_train3,X_test3,Y_train3,Y_test3 = train_test_split(X3,Y3,test_size=.33, random_state=42)

In [49]:
lr2 = LinearRegression()
lr2.fit(X_train3, Y_train3)
lr2.score(X_test3,Y_test3)

0.3536747756615466

In [51]:
y_pred2 = lr2.predict(X_test3)
np.sqrt( mean_squared_error(Y_test3,y_pred2))

6.029509301107105